style.css

body { background-color: purple;}

h1 { color: blue;

}

p { color: red;}

 ul {
    background-color: #f1f1f1;
   list-style-type: none;
   margin: 0;
   padding: 0;
 }

 li a {
 display:block;
 width: 60px;}